<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
</head>
<body>
<div id="user-info">
    <div class="name">
        <label>Name: </label>
        {{input valueBinding="userName"}}
        <span>
        <label>Number Of seats: </label>
            {{input valueBinding="numSeats" }}
        </span>
        </br>
        <button class="checkout-button" {{action showSeats}} >Start Selecting</button>
    </div>
    <div id="seats">
        <div id="seat-map">
            <div class="front">SCREEN</div>
        </div>
        <div class="booking-details">
            <p>Tickets: <span id="counter">0</span></p>
            <button class="checkout-button" {{action submitSelection}}>confirm Selection</button>
            <div id="legend"></div>
        </div>
        <div style="clear:both"></div>
    </div>
    <div id="booking-history">

    </div>
</div>
</body>
</html>